@model IEnumerable<University.Models.Data.LopMonHoc>

@{
    ViewBag.Title = "Index";
}

<h2>Index</h2>

<p>
    @Html.ActionLink("Create New", "Create")
</p>
<table class="table">
    <tr>
        <th>
            @Html.DisplayNameFor(model => model.soLuongToiDa)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.soLuongDangKy)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.trangThai)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.GiangVien.tenGiangVien)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.MonHoc.tenMonHoc)
        </th>
        <th></th>
    </tr>

@foreach (var item in Model) {
    <tr>
        <td>
            @Html.DisplayFor(modelItem => item.soLuongToiDa)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.soLuongDangKy)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.trangThai)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.GiangVien.tenGiangVien)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.MonHoc.tenMonHoc)
        </td>
        <td>
            @Html.ActionLink("Edit", "Edit", new { id=item.maLop }) |
            @Html.ActionLink("Details", "Details", new { id=item.maLop }) |
            @Html.ActionLink("Delete", "Delete", new { id=item.maLop })
        </td>
    </tr>
}

</table>
