<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/font-awesome/4.6.3/css/font-awesome.min.css">
    <link rel="stylesheet" href="~/Content/Bootstrap/bootstrap.min.css" />
    <script src="~/Scripts/jquery-3.3.1.min.js"></script>

    <script src="~/Scripts/jquery-3.3.1.slim.min.js"></script>
    <script src="~/Scripts/popper.min.js"></script>
    <script src="~/Scripts/bootstrap.min.js"></script>

    <link rel="stylesheet" href="~/Content/Sass/mycss.min.css" />







    @if (TempData["phanquyen"] != null)
    {
        <script>
            alert("Bạn không có quyền vào chức năng này!");
        </script>
    }

    <title>Document</title>
</head>
<body>
    <div class="container1" style="min-height:100%; position:relative;">
        <div id="wrapper">
            <div class="container-fluid">

                <div class="col-md-12">



                    <nav class="navbar navbar-expand-lg navbar-light">
                        <a class="navbar-brand" href="@Url.Action("Home","TaiKhoans")">Trang chủ</a>


                        <div class="collapse navbar-collapse" id="navbarSupportedContent">
                            <ul class="navbar-nav mr-auto">
                                <li>

                                    <a class="nav-link" href="@Url.Action("SinhVien","SinhVien")">Sinh Viên <span class="sr-only">(current)</span></a>
                                </li>
                                <li>
                                    <a class="nav-link" href="@Url.Action("GiangVien","GiangVien")">Giảng Viên</a>
                                </li>
                                <li>
                                    <a class="nav-link" href="@Url.Action("TKSinhVien","QuanTri")">Quản Trị</a>
                                </li>
                               

                            </ul>

                            <div class="dropdown">
                                <a class="glyphicon glyphicon-user" data-toggle="dropdown"></a>
                                <div>

                                    <a data-toggle="dropdown" style="color:white">
                                      
                                            <span>Xin Chào</span>
                                            @Session["UserName"]


                                            <ul class="dropdown-menu">

                                                <li><a href="@Url.Action("LogOff", "TaiKhoans")"><i class="fa fa-sign-out"></i>Đăng xuất</a></li>
                                            </ul>






                                    </a>
                                </div>
                            </div>
                        </div>
                    </nav>

                </div>

            </div>

        </div>
        <div class="navbar title">
            <h1 class="text-center">
                INDUSTRIAL UNIVERSITY
                <br />
                OF HOCHIMINH CITY
            </h1>

        </div>
        @*<div class="slider">
                @RenderPage("_Slider.cshtml")
            </div>*@

        <div style="padding-bottom:150px;">
            @RenderBody()
        </div>



        <!--Footer-->
        <footer class="site-footer">



            <hr>

            <!--Social buttons-->
            <div class="text-center">
                <ul class="list-unstyled list-inline">
                    <li class="list-inline-item">
                        <a href="https://www.facebook.com" class="btn-floating btn-sm btn-fb mx-1">
                            <i class="fa fa-facebook"> </i>
                        </a>
                    </li>
                    <li class="list-inline-item">
                        <a class="btn-floating btn-sm btn-tw mx-1">
                            <i class="fa fa-twitter"> </i>
                        </a>
                    </li>
                    <li class="list-inline-item">
                        <a class="btn-floating btn-sm btn-gplus mx-1">
                            <i class="fa fa-google-plus"> </i>
                        </a>
                    </li>
                    <li class="list-inline-item">
                        <a class="btn-floating btn-sm btn-li mx-1">
                            <i class="fa fa-linkedin"> </i>
                        </a>
                    </li>
                    <li class="list-inline-item">
                        <a class="btn-floating btn-sm btn-dribbble mx-1">
                            <i class="fa fa-dribbble"> </i>
                        </a>
                    </li>
                </ul>
            </div>

            <!--Copyright-->
            <div class="footer-copyright py-3 text-center">
                © 2018 Copyright:
                <a href="https://www.facebook.com/minson.nguyen" style="text-decoration:none; color:#800000"> Viết Sơn</a>
            </div>
            <!--/.Copyright-->

        </footer>
        <!--/.Footer-->
    </div>


</body>
</html>

