@model University.Models.Data.MonHoc

@{
    ViewBag.Title = "Delete";
    Layout = "~/Views/HomePage/Admin.cshtml";
}



<h3>Bạn có muốn xóa môn học này không?</h3>
<div>

    <hr />
    <dl class="dl-horizontal">
        <dt>
            Tên Môn Học
        </dt>

        <dd>
            @Html.DisplayFor(model => model.tenMonHoc)
        </dd>

        <dt>
            Số Tín Chỉ
        </dt>

        <dd>
            @Html.DisplayFor(model => model.soTinChi)
        </dd>

        <dt>
            Trạng Thái
        </dt>

        <dd>
            @Html.DisplayFor(model => model.trangThai)
        </dd>

        <dt>
            Chuyên Ngành
        </dt>

        <dd>
            @Html.DisplayFor(model => model.ChuyenNganh.tenChuyenNganh)
        </dd>

    </dl>

    @using (Html.BeginForm()) {
        @Html.AntiForgeryToken()

        <div class="form-actions no-color">
            <input type="submit" value="Xóa" class="btn btn-default" /> |
            @Html.ActionLink("Trở Lại", "Index")
        </div>
    }
</div>
