@model University.Models.Data.MonHoc

@{
    ViewBag.Title = "Details";
    Layout = "~/Views/HomePage/Admin.cshtml";
}

<h2>Chi Tiết</h2>

<div>

    <hr />
    <dl class="dl-horizontal">
        <dt>
           Tên Môn Học
        </dt>

        <dd>
            @Html.DisplayFor(model => model.tenMonHoc)
        </dd>

        <dt>
            Số Tín Chỉ
        </dt>

        <dd>
            @Html.DisplayFor(model => model.soTinChi)
        </dd>

        <dt>
            Trạng Thái
        </dt>

        <dd>
            @Html.DisplayFor(model => model.trangThai)
        </dd>

        <dt>
          Chuyên Ngành
        </dt>

        <dd>
            @Html.DisplayFor(model => model.ChuyenNganh.tenChuyenNganh)
        </dd>

    </dl>
</div>
<p>
    @Html.ActionLink("Sửa", "Edit", new { id = Model.maMonHoc }) |
    @Html.ActionLink("Trở Lại", "Index")
</p>
