@model IEnumerable<University.Models.Data.MonHoc>

@{
    ViewBag.Title = "Index";
    Layout = "~/Views/HomePage/Admin.cshtml";
}

<h2>Index</h2>

<p>
    @Html.ActionLink("Create New", "Create")
</p>
<table class="table">
    <tr>
        <th>
            @Html.DisplayNameFor(model => model.tenMonHoc)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.soTinChi)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.trangThai)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.ChuyenNganh.tenChuyenNganh)
        </th>
        <th></th>
    </tr>

@foreach (var item in Model) {
    <tr>
        <td>
            @Html.DisplayFor(modelItem => item.tenMonHoc)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.soTinChi)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.trangThai)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.ChuyenNganh.tenChuyenNganh)
        </td>
        <td>
            @Html.ActionLink("Edit", "Edit", new { id = item.maMonHoc }) |
            @Html.ActionLink("Details", "Details", new { id = item.maMonHoc }) |
            @Html.ActionLink("Delete", "Delete", new { id = item.maMonHoc })|
            @using (Html.BeginForm("MoDKMon", "MonHoc", FormMethod.Post))
            {
                <button type="submit">Mở Lớp</button>
            }

        </td>
    </tr>
}

</table>
