@model  IEnumerable<University.Models.Data.MM_Result1>
@{
    ViewBag.Title = "DangKiHPSV2";
    Layout = "~/Views/HomePage/Home.cshtml";
}
<script src="~/Scripts/jquery-3.3.1.js"></script>
<script src="~/Scripts/jquery.unobtrusive-ajax.js"></script>
<h2>DangKiHPSV2</h2>

@using (Html.BeginForm("DangKiHPSV2", "SinhVien", FormMethod.Get, new { id = "formfilter", @class = "example" }))
{
    <h4 class="col-md-4">Chọn năm học</h4>

    @Html.DropDownList("namhoc", (IEnumerable<SelectListItem>)ViewBag.namhoc, new { @class = "form-control col-md-5" })
    <h4 class="col-md-4">Chọn học kì</h4>
    @Html.DropDownList("hocki", (IEnumerable<SelectListItem>)ViewBag.hocki, new { @class = "form-control col-md-5" })










    <div id="rdbtn" class="radio">
        <label class="radio-inline">
            @Html.RadioButton("trangthaidk", "dkmoi", true, new { @class = "radiobutton" })<text>Đăng ký mới</text>
        </label>
        <label class="radio-inline">
            @Html.RadioButton("trangthaidk", "hoclai", false, new { @class = "radiobutton" })<text>Học Lại</text>
        </label>
        <label class="radio-inline">
            @Html.RadioButton("trangthaidk", "caithien", false, new { @class = "radiobutton" })<text>Cải thiện điểm</text>
        </label>

        <button class="btn btn-primary" type="submit">Xem Lịch Thi</button>

    </div>


}

<table class="table " style="width:95%">
    <tr style="background:orange">
        <th>Mã</th>

        <th>Tên môn</th>
        <th></th>


    </tr>
    @foreach (var item in Model)
    {

        <tr>
            <td>@item.maMonHoc</td>


            <td>
                @Ajax.ActionLink(item.tenMonHoc, "DSMonDK", "SinhVien", new { id = item.maMonHoc }, new AjaxOptions
                {
                    UpdateTargetId = "divResultAll1",
                    OnBegin = "",
                    InsertionMode = InsertionMode.Replace,
                    HttpMethod = "get",
                    LoadingElementId = "loadingElement2",
                    OnSuccess = "",
                    Confirm = ""
                })
            </td>

        </tr>


    }
</table>

<div id="loadingElement2" style="display:none; color:#f60">
    Đang tải lớp môn học....
</div>
<div id="divResultAll1"></div>


