@model IEnumerable<University.Models.ModelViewDiem>
@{
    ViewBag.Title = "Xemdiem";
    Layout = "~/Views/HomePage/Home.cshtml";
}

<h2>Xemdiem</h2>



<p class="noidung">Mã số Sinh Viên: <b>@ViewBag.masv</b></p>
<p class="noidung">Họ và Tên: <b>@ViewBag.tensv</b></p>
<p class="noidung">Email: <b>@ViewBag.email</b></p>
<p class="noidung">Giới Tính: <b>@ViewBag.gioitinh</b></p>
<p class="noidung">Ngày Sinh: <b>@ViewBag.ngaysinh</b></p>
<table class="table " style="width:95%">
    <tr style="background:orange">


        <th>Mã Môn học</th>
        <th>Môn học</th>
        <th>Giữa kỳ</th>
        <th>Cuối kỳ</th>
        <th>Thực hành</th>
        <th>Năm học</th>
        <th>Học kì</th>

    </tr>
@foreach(var item in Model)
    {

    <tr>



        <td>@item.mamonhoc</td>
        <td>@item.tenmonhoc</td>

        <td>@item.giuaki</td>
        <td>@item.cuoiki</td>
        <td>@item.thuhanh</td>
        <td>@item.nam</td>
        <td>@item.hocki</td>



    </tr>
    }
</table>


