@model University.Models.Data.QuanTri

@{
    ViewBag.Title = "Delete";
}

<h2>Delete</h2>

<h3>Are you sure you want to delete this?</h3>
<div>
    <h4>QuanTri</h4>
    <hr />
    <dl class="dl-horizontal">
        <dt>
            @Html.DisplayNameFor(model => model.tenQuanTri)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.tenQuanTri)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.queQuan)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.queQuan)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.ngaySinh)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.ngaySinh)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.BaiViet.tieuDe)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.BaiViet.tieuDe)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.TaiKhoan.matKhau)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.TaiKhoan.matKhau)
        </dd>

    </dl>

    @using (Html.BeginForm()) {
        @Html.AntiForgeryToken()

        <div class="form-actions no-color">
            <input type="submit" value="Delete" class="btn btn-default" /> |
            @Html.ActionLink("Back to List", "Index")
        </div>
    }
</div>
