@model University.Models.Data.QuanTri

@{
    ViewBag.Title = "Details";
    Layout = "~/Views/HomePage/Admin.cshtml";
}

<h2>Details</h2>

<div>
    <h4>QuanTri</h4>
    <hr />
    <dl class="dl-horizontal">
        <dt>
            @Html.DisplayNameFor(model => model.tenQuanTri)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.tenQuanTri)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.queQuan)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.queQuan)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.ngaySinh)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.ngaySinh)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.trangThai)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.trangThai)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.TaiKhoan.matKhau)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.TaiKhoan.matKhau)
        </dd>

    </dl>
</div>
<p>
    @Html.ActionLink("Edit", "Edit", new { id = Model.maQuanTri }) |
    @Html.ActionLink("Back to List", "Index")
</p>
