@model IEnumerable<University.Models.Data.QuanTri>

@{
    ViewBag.Title = "Index";
    Layout = "~/Views/HomePage/Admin.cshtml";
}

<h2>Index</h2>

<p>
    @Html.ActionLink("Create New", "Create")
</p>
<table class="table">
    <tr>
        <th>
            @Html.DisplayNameFor(model => model.tenQuanTri)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.queQuan)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.ngaySinh)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.trangThai)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.TaiKhoan.matKhau)
        </th>
        <th></th>
    </tr>

@foreach (var item in Model) {
    <tr>
        <td>
            @Html.DisplayFor(modelItem => item.tenQuanTri)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.queQuan)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.ngaySinh)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.trangThai)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.TaiKhoan.matKhau)
        </td>
        <td>
            @Html.ActionLink("Edit", "Edit", new { id=item.maQuanTri }) |
            @Html.ActionLink("Details", "Details", new { id=item.maQuanTri }) |
            @Html.ActionLink("Delete", "Delete", new { id=item.maQuanTri })
        </td>
    </tr>
}

</table>
